<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Employee Add</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/js/ajax.js}"></script>
</head>
<body>

<form id="bookform">
    <p>Name: <input id="bookName" name="bookName">
    </p>
    <p>Category: <input id="catId" name="catId">
    </p>
    <input type="button" id="addBook" value="Add Book"/>

</form>

</body>
</html>